<div class="container">
  <div class="formulario-header">
      <h3><i class="glyphicon glyphicon-pencil"></i>Cadastrar Usuário</h3>
      <hr>
  </div>
  <br>
  <div class="col-12 offset-4">
    <div class="col-lg-4">
      <label for=""><strong>Nome Completo:</strong></label>
      <input type="text" class="input-sm form-control" placeholder="Nome Completo">
    </div>
    <div class="col-lg-4">
        <label for=""><strong>Email:</strong></label>
        <input type="text" class="input-sm form-control" placeholder="Email">
    </div>
    <div class="col-lg-4">
        <label for=""><strong>Senha:</strong></label>
        <input type="text" class="input-sm form-control" placeholder="Senha">
    </div>
    <div class="col-lg-4">
        <label for=""><strong>Confirmar Senha:</strong></label>
        <input type="text" class="input-sm form-control" placeholder="Confirmar Senha">
    </div>
  </div>
  <br>
  <div class="col-12 offset-4">
      <button class="btn btn-salvar">Salvar</button>
      <button class="btn btn-voltar">Voltar</button>  
  </div>
</div>