<mat-card>
    <h2>Cadastrar Usuário</h2>
    <mat-divider></mat-divider>
    <mat-form-field class="full-width" floatLabel="never">
        <input type="text" matInput placeholder="Nome">
    </mat-form-field>
    <mat-form-field class="full-width" floatLabel="never">
        <input type="text" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="full-width" floatLabel="never">
        <input type="password" matInput placeholder="Senha">
    </mat-form-field>
    <mat-form-field class="full-width" floatLabel="never">
        <input type="password" matInput placeholder="Confirme a senha">
    </mat-form-field>
    <button mat-raised-button class="full-width" color="primary">Salvar</button>
    <!-- <button mat-button>Voltar</button>   -->
</mat-card>