<div class="container">
  <div class="mat-elevation-z8">
    <mat-horizontal-stepper linear>
      <mat-step label="Escolha o Cozinheiro">
        <h1>Cozinheiros</h1>
        <mat-radio-group>
          <div *ngFor="let seller of sellers">
            <mat-radio-button [value]="seller.Id">
              <app-seller [seller]="seller"></app-seller>
            </mat-radio-button>
          </div>
        </mat-radio-group>
        <br>
        <div>
          <button mat-raised-button matStepperNext color="primary">Próximo</button>
        </div>
      </mat-step>
      <mat-step label="Escolha o Local de Retirada">
        <h1>Locais</h1>
        <div>
            <button mat-button matStepperPrevious color="primary">Anterior</button>
            <button mat-raised-button matStepperNext color="primary">Próximo</button>
        </div>
      </mat-step>
      <mat-step label="Escolha o Prato">
        <h1>Pratos</h1>
        <div>
          <button mat-button matStepperPrevious color="primary">Anterior</button>
          <button mat-raised-button matStepperNext color="primary">Próximo</button>
        </div>
      </mat-step>
      <mat-step label="Escolha os Acompanhamentos">
        <h1>Acompanhamentos</h1>
        <div>
          <button mat-button matStepperPrevious color="primary">Anterior</button>
          <button mat-raised-button matStepperNext color="primary">Próximo</button>
        </div>
      </mat-step>
      <mat-step label="Revise seu Pedido">
        <h1>Revisão</h1>
        <div>
          <button mat-button matStepperPrevious color="primary">Anterior</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

