<div class="container">
  <div class="col-12 top-header">
    <h2 class="titleH2">Cadastrar Pratos</h2>
    <mat-divider></mat-divider>
  </div>
  <br>
  <form [formGroup]="mealForm" (ngSubmit)="SaveMeal()">
    <div class="row" *ngIf="!flag">
            <div class="col-5"> 
                <div class="col-12">
                    <mat-form-field class="full-width" >
                        <input type="text" formControlName="meal" matInput placeholder="Prato">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="full-width" >
                        <input type="text" formControlName="description" matInput placeholder="Descrição">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="full-width" >
                        <input type="text" formControlName="price" matInput placeholder="Preço">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-7">
                    <h4 class="titleH2">Dias Disponíveis</h4>
                    <div class="col-12">
                        <mat-checkbox (click)="addDays(day.id)" *ngFor="let day of daysOfWeek">{{day.day}}&nbsp;</mat-checkbox>
                    </div>
            </div>
        </div>
        <div class="col-12" *ngIf="flag">
            <div class="offset-1">
                <h3 class="titleH2">Selecione Guarnições:</h3>
            </div>
            <div class="col-6 offset-3">
                <mat-selection-list #shoes>
                    <mat-list-option (click)="addGarnishes(garnish)" *ngFor="let garnish of typesOfShoes">
                        {{garnish}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        
        <br>
        <div class="col-4 offset-4" *ngIf="!flag">
            <button mat-raised-button (click)="listGarnishies()" color="primary">Selecionar Guarnições</button>
            <button mat-raised-button class="button-back" (click)="back()" color="secondary">Voltar</button>  
        </div>
        <div class="col-6 offset-5" *ngIf="flag">
            <button mat-raised-button color="primary">Salvar Prato</button>
            <button mat-raised-button (click)="listGarnishies()" color="secondary">Voltar</button>  
        </div>
    </form>
</div>