
<h2 mat-dialog-title>Cadastrar Acompanhamentos</h2>
<form [formGroup]="garnishForm">
  <mat-dialog-content>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Nome" formControlName="name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Descrição" formControlName="description"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" (click)="onSubmit()" mat-dialog-close mat-raised-button color="primary">Salvar</button>
    <button mat-dialog-close mat-raised-button color="secondary">Cancelar</button>
  </mat-dialog-actions>
</form>
  
