<div class="container fundo">
  <div class="col-12 text-center">
      <div class="col-1"></div>
      <div class="col-4 offset-lg-4 form-signin">
          <h1 class="title kifome-font text-center">KiFome</h1>
          <hr class="line"/>
          <div class="form-group" id="group-login">
              <label for="inputEmail" class="sr-only">Email</label>
              <input type="text" id="inputEmail" class="form-control input-sm text-center" placeholder="Email" required >
              <label for="inputPassword" class="sr-only">Senha</label>
              <input type="password" id="inputPassword" class="form-control input-sm text-center" placeholder="Senha" required>
          </div>
          <button class="btn btn-sm btn-acessar" (click)="logar(authentication)" id="button-login">Acessar</button>
          <button class="btn btn-sm btn-cadastrar">Cadastrar-se?</button>
          <div class="row"></div>
          <br />
         
          <!-- <a href="javascript:void(0)"><small>Deseja Cadastrar-se?</small></a> -->
      </div>
      <div class="col-lg-1"></div>
  </div>
</div> <!-- /container -->