<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <mat-card>
        <h1>Pedir quentinha</h1>
        <p>Várias opções de cozinheiros, pratos e preços</p>
        <button mat-raised-button class="full-width" color="primary">Acessar</button>
      </mat-card>
    </div>
    <mat-divider class="divider" [vertical]="true"></mat-divider>
    <div class="col-4">
      <mat-card>
        <h1>Cozinhar quentinha</h1>
        <p>Monte um cardápio com pratos e guarnições, escolha um local de entrega</p>
        <button mat-raised-button class="full-width" color="primary">Acessar</button>
      </mat-card>
    </div>
  </div>
</div>
