/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.full-width {
    width: 100%;
}

body {
    background-color: #F7F49E;
    margin: 0px;
}

.top-header{
    margin-top:50px;
}

.titleH2{
    font-family: Arial, Helvetica, sans-serif;
    color: #47525E;
    text-shadow: 1px 1px 1px #47525E;
    margin-left:10px;
}