/*body {
    
    background-image: url('../img/imagems.jpg');
}*/

.form-signin {
    margin-top:50px;
    border: 1px solid #808080;
    box-shadow: 1px 1px 10px black;
    background-color: white;
    padding-top:10px;
}

.btn-sa {
    background-color: #EEE8AA;
    color: #696969;
    font-weight: bold;
    font-size: 14px;
    width: 220px;
}

    .btn-sa:hover {
        background-color: #00BFFF;
        color: white;
        font-weight: bold;
        width: 220px;
        box-shadow: 1px 1px 20px #1E90FF;
    }

.academico-font {
    font-weight: bold;
}

.line {
    border-bottom: 2px solid #C0C0C0;
}

.input-matricula {
    margin-bottom: 3px;
}